version: '3.8'
services:
  db:
    image: postgres:13
    container_name: oficina_pg
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: oficina_next_db
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: